<div [@animationState]="animationState" *ngIf="show">
  <div class="toast" [ngClass]="toastTypeClass" tabindex="-1" aria-live="polite"><span class="cdk-visually-hidden">{{type}} notification</span>
    <div class="toast-content">
      <button mat-icon-button class="close" aria-label="Close">
        <span>&times;</span>
      </button>
      <ng-content select="[demoDemoToastContents]"></ng-content>
    </div>
    <div class="toast-actions">
      <ng-content select="[demoDemoToastActions]"></ng-content>
    </div>
  </div>
</div>