[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=2

[{.es6-loader-rc,ports,firmscode,version,.babelrc,refdata,.eslintrc,.stylelintrc,jest.config,userDetails,.es6modules,nereasons,.esmrc,11742287,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.coffee]
indent_style=space
indent_size=2

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

[tslint.json]
indent_style=space
indent_size=2

