<cbp-toolbar position="0" class="cbp-header" #cbpToolbar>

  <cbp-brand class="cbp-brand-nav cbp-toolbar-title" fxFlexAlign="stretch" fxLayout="row"></cbp-brand>

  <cbp-applications-menu class="cbp-toolbar-main-nav"></cbp-applications-menu>

  <div class="cbp-toolbar-right-nav"  fxFlexAlign.gt-xs="end"  fxLayout.gt-xs="row" fxLayout.lt-sm="column">
    <div fxFlex="auto"><cbp-feedback-link></cbp-feedback-link></div>
    <div fxFlex="auto"><cbp-user-menu></cbp-user-menu></div>
  </div>
</cbp-toolbar>

<mat-list style="display: none"></mat-list>

