@import '../../variables';
@import '../header';

// Can't import _navbar from CBP theme - several items must be refactored and variables defined - need to fix _navbar in cbp-theme


cbp-header {
  top: 0;


}

cbp-header {
  cbp-toolbar {
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;
    border-bottom-color: $navbar-inverse-border;
  }
}

.cbp-brand-nav {

  font-size: 19px;
  transition: color 200ms ease-in-out;

  .cbp-brand {
    font-size: 19px ;
    line-height: 21px;
  }
  .cbp-brand-short {

  }
  .dhs-brand {
    line-height: 14px;
    margin: 0;
    font-size: $font-size-smallest;
    font-style: italic;
  }
  @extend .cbp-navbar-item;
  padding: $brand-padding;
}

.cbp-applications-navitem, .cbp-user-navitem, .cbp-feedback-navitem, .cbp-toolbar-expansion {
  @extend .cbp-navbar-item;
}



.mat-menu-item {
  padding-left: 21px !important;
}




