<cbp-toolbar position="0" class="cbp-header">
  <div class="cbp-brand-nav" fxFlexAlign="stretch" fxLayout="row">
    <div fxFlexAlign="center" fxLayout="column" fxLayoutAlign="start start">
      <h1 class="cbp-brand"  fxShow="false" fxShow.gt-sm>U.S. Customs & Border Protection</h1>
      <div class="cbp-brand-short" fxShow="false" fxShow.lt-md>U.S. CBP</div>
      <div class="dhs-brand"  fxShow="false" fxShow.gt-sm>U.S. Department of Homeland Security</div>
    </div>
  </div>
  <div fxFlex="" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="start stretch" fxShow="false" fxShow.gt-xs>
    <ng-template [ngTemplateOutlet]="cbpApplicationsDropdown"></ng-template>
  </div>
  <div fxFlex="" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="end stretch" fxShow="false" fxShow.gt-xs>
    <ng-template [ngTemplateOutlet]="feedbackNavItem"></ng-template>
    <ng-template [ngTemplateOutlet]="userNavItem"></ng-template>
  </div>
  <div fxFlex="" class="cbp-toolbar-expansion-container" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="end stretch" fxHide="false" fxHide.gt-xs>
    <div class="cbp-toolbar-expansion" (click)="isToolbarExpanded = ! isToolbarExpanded">
      <div class="cbp-toolbar-expansion-icon">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
  </div>

</cbp-toolbar>
<!--md-toolbar color="primary" class="toolbar-expansion-panel" fxLayoutAlign="start start" fxLayout="start" *ngIf="isToolbarExpanded" fxHide.gt-xs>
  <ng-template [ngTemplateOutlet]="cbpApplicationsDropdown"></ng-template>
  <ng-template [ngTemplateOutlet]="feedbackNavItem"></ng-template>
  <ng-template [ngTemplateOutlet]="userNavItem"></ng-template>
</md-toolbar -->

<ng-template #cbpApplicationsDropdown>
  <cbp-applications-menu [toolbarExpanded]="isToolbarExpanded"></cbp-applications-menu>
</ng-template>

<!-- templates -->
<ng-template #feedbackNavItem>
  <div class="cbp-feedback-navitem" (click)="handleFeedback()">
    <md-icon fontSet="fontawesome" fontIcon="fa-comment"></md-icon>
    <span fxShow="false" fxShow.gt-sm fxShow.lt-sm>Feedback</span>
  </div>
</ng-template>

<ng-template #userNavItem>
  <cbp-user-menu [toolbarExpanded]="isToolbarExpanded"></cbp-user-menu>
</ng-template>

<!-- hack  for md-divider to work outside of md-list-->
<md-list style="display: none"></md-list>