@import '../../variables';
@import '../header';

// Can't import _navbar from CBP theme - several items must be refactored and variables defined - need to fix _navbar in cbp-theme



cbp-header {
  z-index: $zindex-navbar;
  cbp-toolbar .cbp-toolbar-row {
    height: $navbar-height;
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;
    border-bottom-color: darken($navbar-inverse-border, 2%);
    position: fixed;
    right: 0;
    left: 0;
  }

  .cbp-toolbar-expansion-panel {
    top: $navbar-height !important;
  }
  .cbp-toolbar-expansion-container {
    .cbp-toolbar-expansion {
      .cbp-toolbar-expansion-icon {
        border: 1px solid darken($navbar-inverse-border, 4%);
        background-color: $navbar-inverse-bg;
        &:hover {
          background-color: $navbar-inverse-toggle-hover-bg;
        }
        &:focus {
          border-color: $navbar-inverse-toggle-border-color;
          outline: 1px dotted lighten($brand-info, 0.25)!important;
        }
      }
    }
  }
  .icon-bar {
    background-color: #fff;
  }
}

.cbp-brand-nav {

  font-size: 19px;
  transition: color 200ms ease-in-out;
  height: $navbar-height;

  .cbp-brand {
    font-size: 19px ;
    line-height: 21px;
  }

  .dhs-brand {
    line-height: 14px;
    margin: 0;
    font-size: $font-size-smallest;
    font-style: italic;
  }

  padding: $brand-padding;
}

.cbp-applications-navitem, .cbp-user-navitem, .cbp-feedback-navitem, .cbp-toolbar-expansion {
  @extend .cbp-navbar-item;
}


.mat-menu-item {
  padding-left: 21px !important;
}




