<cbp-toolbar position="0" #cbpToolbar>

  <cbp-brand class="cbp-brand-nav cbp-toolbar-title" fxFlexAlign="stretch" fxLayout="row"></cbp-brand>


  <div class="cbp-toolbar-main-nav" *ngIf="!cbpAppsMenuExclude && !cbpAppsMenu"><cbp-apps-menu></cbp-apps-menu></div>
  <!-- potential downstream customization of apps-menu -->
  <div class="cbp-toolbar-main-nav" *ngIf="!cbpAppsMenuExclude && cbpAppsMenu"><ng-content select="cbp-applications-menu"></ng-content></div>

  <div class="cbp-toolbar-right-nav"  fxFlexAlign.gt-xs="end"  fxLayout.gt-xs="row" fxLayout.lt-sm="column">

    <div fxFlex="auto" *ngIf="!cbpFeedbackLinkExclude && !cbpFeedbackLink"><cbp-feedback-link></cbp-feedback-link></div>
    <!-- potential downstream customization of feedback -->
    <div fxFlex="auto" *ngIf="!cbpFeedbackLinkExclude && cbpFeedbackLink"><ng-content select="cbp-feedback-link"></ng-content></div>

    <div fxFlex="auto" *ngIf="!cbpUserMenuExclude && !cbpUserMenu"><cbp-user-menu></cbp-user-menu></div>
    <!-- downstream customization of user-menu e.g. additional cbp-user-menu-item -->
    <div fxFlex="auto" *ngIf="!cbpUserMenuExclude && cbpUserMenu"><ng-content select="cbp-user-menu"></ng-content></div>

  </div>
</cbp-toolbar>

<mat-list style="display: none"></mat-list>