<cbp-app-header>

  <div class="cbp-app-main-nav">
    <div fxShow="false" fxShow.gt-xs="true">
      <ng-template [ngTemplateOutlet]="tabbedAppNav"></ng-template>
    </div>
    <div fxShow="false" fxShow.lt-sm="true" class="app-stacked-nav">
      <ng-template [ngTemplateOutlet]="stackedAppNav"></ng-template>
    </div>
  </div>

  <div class="cbp-app-right-nav">
    <div ngClass.gt-xs="app-right-nav-items" ngClass.lt-sm="app-stacked-nav">
      <div class="cbp-navbar-item">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon
            aria-label="menu"
            fontSet="fontawesome"
            fontIcon="fa-ellipsis-v">
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon fontSet="fontawesome" fontIcon="fa-users"></mat-icon>
            <span>Crew</span>
          </button>
          <button mat-menu-item>
            <mat-icon fontSet="fontawesome" fontIcon="fa-people-carry"></mat-icon>
            <span>Cargo</span>
          </button>
          <button mat-menu-item>
            <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon>
            <span>Trucks</span>
          </button>
          <button mat-menu-item>
            <mat-icon fontSet="fontawesome" fontIcon="fa-warehouse"></mat-icon>
            <span>Ports</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <!-- NOTE: Contents are not rendering -->
  <div class="cbp-subtoolbar-content">
    {{ companyName }}
  </div>
</cbp-app-header>

<!-- NOTE: Navigation Header Router Link isn't actually active though-->
<ng-template #tabbedAppNav>
  <nav mat-tab-nav-bar>
    <a mat-tab-link [active]="true" href="{{ link.link }}" *ngFor="let link of appNavigations">
      {{link.name}}
    </a>
  </nav>
</ng-template>

<ng-template #stackedAppNav>
  <ng-container>
    <div class="mat-menu-item" *ngFor="let appNav of appNavigations">
      <div title="{{ appNav.name }}" fxFlex="auto">
        {{ appNav.name }}
      </div>
    </div>
  </ng-container>
</ng-template>
