@import '../../../../../dist/ngx-cbp-theme/styles/variables';

.app-right-nav-items {
  display: flex;

  .cbp-navbar-item {
    cursor: default;
  }
}

.app-stacked-nav {
  background-color: $navbar-default-bg;
  left: 0;
  width: 100%;
  color: $navbar-default-color;
}

.cbp-subtoolbar {
  font-weight: 400;
}

cbp-app-main-nav .app-stacked-nav {
  border-top: 1px solid darken($navbar-default-border, 4%);
}

cbp-app-right-nav .app-stacked-nav {
  border-bottom: 1px solid darken($navbar-default-border, 4%);
}
