@import '~@angular/material/theming';

$cbp-from-primary: (
  50 : #e0e8ed,
  100 : #b3c6d2,
  200 : #80a0b5,
  300 : #4d7a97,
  400 : #265e80,
  500 : #00416a,
  600 : #003b62,
  700 : #003257,
  800 : #002a4d,
  900 : #001c3c,
  A100 : #72a5ff,
  A200 : #3f85ff,
  A400 : #0c64ff,
  A700 : #0058f1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$cbp-from-info: (
  50 : #e3ecf5,
  100 : #b9cfe6,
  200 : #8ab0d5,
  300 : #5b90c4,
  400 : #3778b7,
  500 : #1460aa,
  600 : #1258a3,
  700 : #0e4e99,
  800 : #0b4490,
  900 : #06337f,
  A100 : #aec7ff,
  A200 : #7ba4ff,
  A400 : #4881ff,
  A700 : #2e6fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$cbp-from-error: (
  50 : #f4e0e0,
  100 : #e3b3b3,
  200 : #d08080,
  300 : #bd4d4d,
  400 : #ae2626,
  500 : #a00000,
  600 : #980000,
  700 : #8e0000,
  800 : #840000,
  900 : #730000,
  A100 : #ffa1a1,
  A200 : #ff6e6e,
  A400 : #ff3b3b,
  A700 : #ff2222,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
//$cbp-blue: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  400: #5c6bc0,
//  500: #003865,
//  600: #3949ab,
//  700: #303f9f,
//  800: #283593,
//  900: #1a237e,
//  A100: #8c9eff,
//  A200: #536dfe,
//  A400: #004C97,
//  A700: #304ffe,
//  contrast: (
//    50: $black-87-opacity,
//    100: $black-87-opacity,
//    200: $black-87-opacity,
//    300: white,
//    400: white,
//    500: $white-87-opacity,
//    600: $white-87-opacity,
//    700: $white-87-opacity,
//    800: $white-87-opacity,
//    900: $white-87-opacity,
//    A100: $black-87-opacity,
//    A200: white,
//    A400: white,
//    A700: $white-87-opacity,
//  )
//);
