.demo-notifications-pre-build {
  padding: 24px 0;
  max-width: 400px;
}

.xtoast {
  height: 200px;
  width: 100px;
  border: 1px solid lightgrey;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  position: relative;
}

.xtoast::before {
  content: "";
  background: lightgreen;
  position: absolute;
  //left: -8px;
  height: 100%;
  width: 8px;
}
.xtoast-green {
  background: green;
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 8px;
  z-index: 1;
  transform-origin: bottom center;
}


.xtoast-body {
  height: 100%;
  width: calc(100% - 8px);
  flex: 1 1 100%;
}

