<!--This is "THE" Kitchen Sink Demo -->
<cbp-root>


    <cbp-header>
        <cbp-user-menu>
            <div class="mat-menu-item" (click)="myPreferences()" cbp-user-menu-item>Preferences</div>
        </cbp-user-menu>
    </cbp-header>

    <!--
      Customizable header:-  e.g. shows cbpAppsMenuExclude is excluded, cbp-feedback-link has custom action, cbp-user-menu has additional menu item Preference
     <cbp-header [cbpAppsMenuExclude]="true">
         <cbp-feedback-link (click)="myFeedbackAction()"></cbp-feedback-link>
         <cbp-user-menu>
             <div class="mat-menu-item" (click)="myPreferences()" cbp-user-menu-item>Preferences</div>
         </cbp-user-menu>
     </cbp-header>
     -->

    <demo-demo-app-header></demo-demo-app-header>

    <div class="app-content">
        <demo-typography></demo-typography>
        <demo-buttons></demo-buttons>
        <demo-cbp-accordion></demo-cbp-accordion>
    </div>
</cbp-root>





