<cbp-app-header>

  <cbp-app-title >
    <h2 class="app-title">
      Kitchen Sink
      <small>Demo</small>
    </h2>
  </cbp-app-title>

  <cbp-app-main-nav>
    <ng-template [ngTemplateOutlet]="tabbedAppNav"></ng-template>
  </cbp-app-main-nav>

  <cbp-app-right-nav>
    <div class="app-right-nav-items">
      <div class="cbp-navbar-item">
        <md-icon  fontSet="fontawesome" fontIcon="fa-print"></md-icon>
      </div>
      <div class="cbp-navbar-item">
        <md-icon  fontSet="fontawesome" fontIcon="fa-wifi"></md-icon>
      </div>
    </div>
  </cbp-app-right-nav>
</cbp-app-header>

<ng-template #tabbedAppNav>
  <md-tab-group class="not-working" [selectedIndex]="1">
    <md-tab *ngFor="let appNav of appNavigations" label="{{appNav.name}}"></md-tab>
  </md-tab-group>
</ng-template>