@import '../../../app/variables';

.app-right-nav-items {
  display: inline-flex;
}

.app-title {
  padding: 0 15px;
  margin-right: 10px;
  margin-top: 10px;
  border-right: 1px solid $brand-default-border;
}


// workaround
.cbp-app-main-nav{
  width: 9999px !important;
}

.not-working {
  display: block !important;;
  overflow: hidden;
  width: auto !important;
}