@import '../../../app/variables';

// Can't import https://github.com/US-CBP/cbp-theme/issues/205
// @import '~cbp-theme/dist/scss/custom/alerts';


.toast-list {
  &.static-demo {
    position: inherit;
    top: 42px; right: 0px;
    z-index: inherit;

  }
  width: 400px;

  position: fixed;
  top: 52px;
  right: 0px;
  z-index: 10000;
}

