<h2>Alerts & Notifications</h2>

<h3>Alerts</h3>

Demo coming soon.

<h3>Notifications</h3>

<div class="toast-list static-demo">
    <ng-template *ngTemplateOutlet="success;context:{'param': 0}"></ng-template>
    <ng-template *ngTemplateOutlet="info;context:{'param': 0}"></ng-template>
    <ng-template *ngTemplateOutlet="warning;context:{'param': 0}"></ng-template>
    <ng-template *ngTemplateOutlet="danger;context:{'param': 0}"></ng-template>
</div>
<button mat-raised-button color="primary" class="show-toasts" (click)="toggleToasts()">Toggle notifications</button>


<div class="toast-list" *ngIf="showing">
    <ng-template *ngTemplateOutlet="success;context:{'param': 1000}"></ng-template>
    <ng-template *ngTemplateOutlet="info;context:{'param': 2000}"></ng-template>
    <ng-template *ngTemplateOutlet="warning;context:{'param': 3000}"></ng-template>
    <ng-template *ngTemplateOutlet="danger;context:{'param': 4000}"></ng-template>
</div>

<ng-template #success let-param="param">
    <demo-toast type="success" [delay]="param">
        <span demoDemoToastContents>Message sent to Jerry.</span>
    </demo-toast>
</ng-template>

<ng-template #info let-param="param">
    <demo-toast type="info" [delay]="param">
        <span demoDemoToastContents>Jerry added a comment to one of your cases (90/098,881).</span>
        <a mat-raised-button color="accent" demoDemoToastActions>View comment</a>
    </demo-toast>
</ng-template>

<ng-template #warning let-param="param">
    <demo-toast type="warning" [delay]="param">
        <span demoDemoToastContents>Case 90/842,381 is due tomorrow.</span>
        <span demoDemoToastActions>
            <a mat-raised-button>View case</a>
            <a mat-raised-button>Snooze</a>
        </span>
    </demo-toast>
</ng-template>

<ng-template #danger let-param="param">
    <demo-toast type="danger" [delay]="param">
        <span demoDemoToastContents>Connection has been lost. Retrying in 30 seconds.</span>
        <span demoDemoToastActions>
            <a mat-raised-button color="warn">Retry now</a>
        </span>
    </demo-toast>
</ng-template>


