@import '../../variables';

.mat-menu-item .cbp-applications-link {
  text-decoration: none;
  color: $gray-dark;
  overflow: inherit;
  text-overflow: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  .inverse & {
    color: $navbar-inverse-color;
  }
}

.cbp-app-search {
  padding: 0px;
  .mat-form-field {
    display: block;
  }
  .mat-form-field-label,
  .cbp-applications-search-input {
    padding-left: 16px;
  }
}
.cbp-app-search-results.mat-menu-item {
  cursor: inherit;
  height: 32px;
  line-height: 32px;
}