<form class="mat-menu-item cbp-app-search">
  <mat-form-field (click)="stopPropogation($event)" floatLabel="never" color="default">
      <input type="text" matInput aria-label="Search App" [formControl]="searchTokenControl" name="searchToken"  placeholder="Search ..."
             class="cbp-applications-search-input"/>
  </mat-form-field>
</form>
<ng-container *ngIf="searchResults">
  <div class="mat-menu-item cbp-app-search-results" *ngFor="let app of searchResultsApplications | async">
    <a class="cbp-applications-link" title="{{app.description}}" href="{{app.href}}" fxFlex="auto" >
      {{ app.name }}
    </a>
  </div>
  <mat-divider *ngIf="searchResults && searchResults.length > 0"></mat-divider>
</ng-container>