<div *ngIf="!isLoggedIn && !loginProgress" class="cbp-user-navitem" (click)="login()">
  <i class="fa fa-sign-in"></i><span>&nbsp;Login</span>
</div>
<div *ngIf="!isLoggedIn && loginProgress" class="cbp-user-navitem">
  <cbp-loading></cbp-loading>
</div>
<div *ngIf="isLoggedIn && userDataLoaded && !toolbarExpanded" class="cbp-user-navitem" [matMenuTriggerFor]="userMenu">
  <mat-icon fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
  <span fxShow="false" fxShow.gt-sm fxShow.lt-sm>{{ user.firstName }} {{ user.lastName }}</span>
  <mat-icon fontSet="fontawesome" fontIcon="fa-caret-down"></mat-icon>
</div>

<div *ngIf="isLoggedIn && userDataLoaded && toolbarExpanded" class="cbp-user-navitem non-menu" (click)="toggleMenu()">
  <mat-icon class="cbp-icon-before-text" fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
  <span fxShow="false" fxShow.gt-sm fxShow.lt-sm>{{ user.firstName }} {{ user.lastName }}</span>
  <mat-icon fontSet="fontawesome" fontIcon="fa-caret-down"></mat-icon>
</div>

<div class="cbp-user-navitem expanded" *ngIf="toolbarExpanded && userMenuExpanded">
  <ng-template [ngTemplateOutlet]="userMenuContents"></ng-template>
</div>

<mat-menu #userMenu="matMenu" yPosition="above" xPosition="before" [overlapTrigger]="false">
  <ng-template [ngTemplateOutlet]="userMenuContents"></ng-template>
</mat-menu>

<ng-template #userMenuContents let-fromMenu="fromMenu">
  <div class="mat-menu-item" (click)="logout()">Logout</div>
</ng-template>
