<h2>Buttons</h2>

<button md-raised-button color="primary">Primary</button>
<button md-raised-button color="accent">Accent</button>
<button md-raised-button color="warn">Danger</button>
<button md-button>Default</button>
<a href md-button md-button-link>SomeLink</a>

<h3>Disabled Buttons</h3>

<button md-raised-button color="primary" disabled>Primary</button>
<button md-raised-button color="accent" disabled>Accent</button>
<button md-raised-button color="warn" disabled>Danger</button>
<button md-button disabled>Default</button>
<a href md-button md-button-link disabled>SomeLink</a>