<h2>Buttons</h2>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Danger</button>
<button mat-button>Default</button>
<a href mat-button mat-button-link>SomeLink</a>

<h3>Disabled Buttons</h3>

<button mat-raised-button color="primary" disabled>Primary</button>
<button mat-raised-button color="accent" disabled>Accent</button>
<button mat-raised-button color="warn" disabled>Danger</button>
<button mat-button disabled>Default</button>
<a href mat-button mat-button-link disabled>SomeLink</a>

<h3>Toggle Switches</h3>
<div>
    <cbp-toggle-switch label="Access" [(ngModel)]="toggle.one" (changed)="toggle.one = $event"></cbp-toggle-switch>
    <span style="padding: 10px;">value = {{toggle.one}}</span>
</div>
<br>
<div>
    <cbp-toggle-switch label="Alert" onLabel="YES" offLabel="NO" onValue="Y" offValue="N" [(ngModel)]="toggle.two" (changed)="toggle.two = $event"></cbp-toggle-switch>
    <span style="padding: 10px;">value = {{toggle.two}}</span>
</div>
