@import '../../variables';


:host {
  cbp-toolbar {
    border-bottom-color: $navbar-inverse-border;
    height: $navbar-appheader-height;
    z-index: $zindex-appbar;
    position: fixed;
    .cbp-toolbar-row {
      z-index: $zindex-appbar;
      border-bottom: 1px solid $brand-default-border !important;
      width: 100%;


    }


  }
}

.cbp-toolbar-main-nav-container {
  width: inherit !important;
}
