<cbp-toolbar class="cbp-app-header" fxLayout="row" fxLayoutAlign.gt-xs="start stretch" [@appHeaderState]="appHeaderState">

  <div class="app-header-title-container cbp-toolbar-title" >
    <ng-content select="cbp-app-title"></ng-content>
  </div>


  <div class="app-header-left-nav-container cbp-toolbar-main-nav">
    <ng-content select="cbp-app-main-nav"></ng-content>
  </div>



  <div class="app-header-right-nav-container cbp-toolbar-right-nav" fxFlex=""  fxFlexAlign.gt-xs="end" fxLayoutAlign.gt-xs="end stretch" fxLayout.gt-xs="row" fxLayout.lt-sm="column" >
    <ng-content select="cbp-app-right-nav"></ng-content>
  </div>


</cbp-toolbar>



