<h2>Buttons</h2>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Danger</button>
<button mat-button>Default</button>
<a href mat-button mat-button-link>SomeLink</a>

<h3>Disabled Buttons</h3>

<button mat-raised-button color="primary" disabled>Primary</button>
<button mat-raised-button color="accent" disabled>Accent</button>
<button mat-raised-button color="warn" disabled>Danger</button>
<button mat-button disabled>Default</button>
<a href mat-button mat-button-link disabled>SomeLink</a>

<h3>Toggle Switches</h3>
<form>
    <div>
        <cbp-toggle-switch label="Access" name="toggle-one" [(ngModel)]="toggle.one"
                           (changed)="toggle.one = $event"></cbp-toggle-switch>
        <span style="padding: 10px;">value = {{ toggle.one }}</span>
    </div>
    <br>
    <div>
        <cbp-toggle-switch name="toggle-something2" label="Bidi Model" onLabel="YES" offLabel="NO"  name="toggle-something3" [(ngModel)]="toggle.something2"
                           (changed)="changed($event)"></cbp-toggle-switch>
        <span style="padding: 10px;min-width: 100px;display: inline-block;">value = {{ toggle.something2 }}</span>
        <mat-checkbox [disableRipple]="true" name="toggle-something2-checkbox" [(ngModel)]="toggle.something2">Toggle</mat-checkbox>
    </div>
    <br>
    <div>
        <cbp-toggle-switch label="Alert" name="toggle-two" onLabel="YES" offLabel="NO"
                           [(ngModel)]="toggle.two" (changed)="changed($event)"></cbp-toggle-switch>
        <span style="padding: 10px; width: 50px;">value = {{ toggle.two }}</span>
    </div>
    <br>
    <div>
        <cbp-toggle-switch label="Y/N Model values" name="toggle-yn" onLabel="YES" offLabel="NO" onValue="Y" offValue="N"
                           [(ngModel)]="toggle.yn" (changed)="changed($event)"></cbp-toggle-switch>
        <span style="padding: 10px; width: 50px;">value = {{ toggle.yn }}</span>
    </div>
    <br>
    <div>
        <cbp-toggle-switch label="Undefined" name="toggle-three" onLabel="YES" offLabel="NO"
                           [(ngModel)]="toggle.three" (changed)="changed($event)"></cbp-toggle-switch>
        <span style="padding: 10px; width: 50px;">value = {{ toggle.three }}</span>
    </div>
    <br>
    <div>
        <cbp-toggle-switch label="Disabled" disabled="true" onLabel="YES" offLabel="NO" onValue="Y" offValue="N"
                           name="toggle-disabled" [(ngModel)]="toggle.disabled"
                           (changed)="toggle.disabled = $event"></cbp-toggle-switch>
        <span style="padding: 10px;">value = {{ toggle.disabled }}</span>
    </div>
    <br>
    <div>
        <cbp-toggle-switch label="Disabled" [disabled]="true" onLabel="YES" offLabel="NO"></cbp-toggle-switch>
        <span style="padding: 10px;">value = false</span>
    </div>

</form>