<div class="cbp-toolbar-row mat-toolbar" fxLayout="row"  [@cbpToolbarState]="cbpToolbarState">

  <div class="cbp-brand-nav-container" fxFlex="" fxFlexAlign="stretch" fxLayout="row">
    <ng-content select=".cbp-toolbar-title"></ng-content>
  </div>

  <div class="cbp-toolbar-main-nav-container"  *ngIf="isToolbarExpanded ? false : true" fxFlex="grow"  fxShow="false" fxShow.gt-xs>
    <ng-template [ngTemplateOutlet]="cbpToolbarLeftNav"></ng-template>
  </div>

  <div class="cbp-toolbar-right-nav-container" *ngIf="isToolbarExpanded ? false : true" fxFlex="" fxFlexAlign="stretch" fxLayout="column" fxLayoutAlign="end stretch" fxShow="false" fxShow.gt-xs>
    <ng-template [ngTemplateOutlet]="cbpToolbarRightNav"></ng-template>
  </div>

  <div fxFlex="" fxFlexOrder.lt-sm="1"  class="cbp-toolbar-expansion-container" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="end stretch" fxHide="false" fxHide.gt-xs>
    <div class="cbp-toolbar-expansion" (click)="isToolbarExpanded = ! isToolbarExpanded">
      <div class="cbp-toolbar-expansion-icon">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isToolbarExpanded ? true : false" fxShow="false" fxShow.lt-sm class="cbp-toolbar-expansion-panel" fxLayout="column" style="position: relative; top :50px">
  <ng-template [ngTemplateOutlet]="cbpToolbarLeftNav"></ng-template>
  <ng-template [ngTemplateOutlet]="cbpToolbarRightNav"></ng-template>
</div>
<ng-template #cbpToolbarLeftNav>
  <ng-content select=".cbp-toolbar-main-nav"></ng-content>
</ng-template>
<ng-template #cbpToolbarRightNav>
  <div fxLayout="column" fxLayoutAlign="end stretch"><ng-content select=".cbp-toolbar-right-nav"></ng-content></div>
</ng-template>