@import '../../variables';
@import '../header';

cbp-toolbar {
  width: 100%;

  .cbp-toolbar-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $brand-default-border;
    white-space: nowrap;
  }

}


.cbp-brand-nav-container {
  @extend .cbp-navbar-item;
  padding: inherit;
}