@import '../../variables';


cbp-toolbar {
  width: 100%;

  .cbp-toolbar-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $brand-default-border;
    white-space: nowrap;
  }

}


